<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Entrevistas Horizontes - Plan de Cultura 2038</title>
    <link rel="shortcut icon" href="../resources/images/app/favicon.png"> 

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <link href="../resources/css/pacarina.css" rel="stylesheet">
    <script src="../resources/js/pml_searcher.js"></script>
    <script src="../resources/js/fa_f45fca298e.js"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>const {createApp} = Vue;</script>

    <link rel="stylesheet" href="../resources/templates/easypml/style.css">
    <link rel="stylesheet" href="../resources/templates/easypml/theme-pdc.css">
    <link rel="stylesheet" href="../resources/templates/easypml/app.css">
    <link rel="stylesheet" href="../resources/templates/easypml/minimal.css">
    <link rel="stylesheet" href="../resources/templates/easypml/mobile.css">

    <script src="../resources/js/pcrn.js"></script>

    <!-- ESPECIAL PARA APP -->
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="container">

        <!-- ENCABEZADO -->
        <div class="main-navbar fixed-top d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <a href="#">
                    <img src="../resources/images/app/logo-navbar.png" alt="Logo App" title="Inicio" class="app-logo">
                </a>
            </div>
            <h1 class="page-title">Conclusiones Entrevistas Horizontes - Plan de Cultura 2038</h1>
            <div>Cultura de Datos</div>
        </div>

        <!-- CONTENIDO APLICACIÓN -->
        <div id="balanceApp">

            <!-- BARRA DE NAVEGACIÓN -->
            <ul class="nav justify-content-center nav-tabs mb-3">
                <li class="nav-item" v-for="pagina in menu">
                    <a class="nav-link" v-bind:href="pagina.name" v-bind:class="{'active': pagina.active == true }">
                        {{ pagina.title }}
                    </a>
                </li>
            </ul>

            

            <div class="center_box_750">
                <p class="text-center">
                    Este contenido se realizó en el marco de la ejecución del Plan Anual de Investigaciones 2024 de la Dirección Observatorio y Gestión del Conocimiento Cultural.
                    Investigación i095.
                    Corresponde al diseño de una metodología para sistematizar y analizar entrevistas cualitativas a actores clave
                    asociados a la cultura para proporcionar insumos de información para la estructuración del Plan Distrital de Cultura 2038 de Bogotá.
                </p>
                <p>
                    
                </p>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <p class="text-main">
                            Datos detallados
                        </p>
                        <p>
                            Datos detallados de todo el procesamiento realizado a las transcripcciones
                            <br>
                            <a href="https://docs.google.com/spreadsheets/d/1pHlYlsVhiWiHZs-Syxfg8rMIXU9O8WNFDdOOS-bdjyk/edit?gid=1327383703#gid=1327383703" class="mt-2 w120p btn btn-success btn-sm" target="_blank">
                                ABRIR
                            </a>
                        </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <p class="text-main">
                            Documentación metodología
                        </p>
                        <p>
                            Consulte aquí la documentación detallada de la metodología de este procesamiento
                            <br>
                            <a href="https://drive.google.com/file/d/1VyN0kqUbqfdERhe92gIaw5e6X3w5tsHc/view" class="mt-2 w120p btn btn-danger btn-sm" target="_blank">
                                ABRIR
                            </a>
                        </p>
                    </div>
                    
                </div>
                <hr>
                <div class="row my-5">
                    <div class="col-md-4 text-center" v-for="persona in personas">
                        <img class="w75p rounded-circle border border-1" v-bind:src="`content/personas/${persona.name}.jpg`" v-bind:alt="persona.title">
                        <div class="mt-2">
                            <strong class="text-muted">{{ persona.title }}</strong><br>
                            <small class="text-main">{{ persona.role }}</small>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div>
                        <img class="w150p" src="../resources/images/observatorio/logo-dogcc-yellow.png" alt="Logo Observatorio">
                    </div>
                    <div>
                        <img class="w100p" src="../resources/images/app/sello-cultura-bogota-negro.png" alt="Sello Cultura Bogotá">
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="info.js"></script>
</body>
</html>

