.resumen b{
    color: #E22964;
}

.horizonte-numero {
    display: inline-block;
    font-size: 1.9em;
    background-color: #F3C301;
    padding: 0.1em 0.5em;
    border-radius: 2px;
    color: #FFF;
    min-width: 2em;
    text-align: center;
    cursor: pointer;
}
.horizonte-numero:hover {
    background-color: #D1A801;
}

.horizonte-selector {
    min-width: 2em;
    min-height: 2em;
    background-color: #FAFAFA;
    border: 1px solid #DEE2E6;
    text-align: center;
    align-items: center;
    border-radius: 3px;
    margin-right: 3px;
    cursor: pointer;
    display: flex;            /* Usar flexbox para centrar el contenido */
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente */
}

.horizonte-selector:hover{
    background-color: #F3C301;
    border-color: #F3C301;
    color: #FAFAFA;
}

.horizonte-selector.active{
    background-color: #F3C301;
    border-color: #F3C301;
    color: #FAFAFA;
}


.prospectiva {
    display: inline-block;
    font-size: 0.9em;
    background-color: #FAFAFA;
    padding: 0.1em 0.5em;
    border-radius: 10px;
    color: #FFF;
}

.prospectiva-amenaza { background-color: #E22964;}
.prospectiva-oportunidad { background-color: #5A90DF;}
.prospectiva-debilidad { background-color: #F3C301; color: #333;}
.prospectiva-fortaleza { background-color: #AEE001; color: #333; }

.sentimiento {
    display: inline-block;
    font-size: 1.2em;
    background-color: #FAFAFA;
    padding: 0.1em 0.5em;
    border-radius: 3px;
    color: #FFF;
    min-width: 3em;
    text-align: center;
}

.sentimiento-negativo { background-color: #F15B6D;}
.sentimiento-neutral { background-color: #F3C301;}
.sentimiento-positivo { background-color: #59B560;}